body {
	margin: 0;
	padding: 0;
	background: #ccc;
	font-family: 'Open Sans', Calibri, Arial, sans-serif, '微軟正黑體', Microsoft JhengHei;
	color: #333;
	font-size: 16px;
}
.container {
	width: 1011px;
	margin: 0 auto;
	background: #fff;
}
.header {
	width: 1011px;
	height: 150px;
	padding: 0 70;
	display: table-cell;
	vertical-align: middle;
	background: #333;
	color: #fff;
	font-size: 14px;
}
.content {
	width: 1011px;
	height: 660px;
}
.footer {
	width: 1011px;
	height: 40px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background: #333;
	color: #fff;
	font-size: 14px;
}

/********* 連結顏色 *********/
a {
	text-decoration:none;
}
a:link {
	color:#0aa;
}
a:visited {
	color:#0aa;
}
a:hover { 
	color:#ff7575;
}

/********* 上方橫向選單 *********/
ul { /* 取消ul預設的內縮及樣式 */
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.drop-down-menu { /* 第一層選單外圍框線 */
	display: inline-block;
}
ul.drop-down-menu li { /* 第一層選單內框線 */
	position: relative;
	white-space: nowrap;
	border-right: #ccc 1px solid;
}
ul.drop-down-menu > li:last-child {
	border-right: none;
}
ul.drop-down-menu > li { /* 只有第一層選單變橫向 */
	float: left;
}
ul.drop-down-menu a { /* 第一層選單格式 */
	line-height: 37px;
	display: block;
	text-decoration: none;
	background-color: #fff;
	color: #333;
}
ul.drop-down-menu a:hover { /* 滑鼠滑入按鈕變色 */
	background-color: #0aa;
	color: #fff;
}
ul.drop-down-menu li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色 */
	background-color: #0aa;
	color: #fff;
}
ul.drop-down-menu ul { /* 第二層選單格式 */
	position: absolute;
	min-width: 101px;
	left: -1px;
	top: 100%;
	z-index: 99;
	border: #ccc 1px solid;
	border-right: none;
	text-align: center;
}
ul.drop-down-menu ul li { /* 第二層選單內框線 */
	border-bottom: #ccc 0px solid;
}
ul.drop-down-menu ul li:last-child {
	border-bottom: none;
}
ul.drop-down-menu ul ul { /* 第三層以後的選單出現位置與第二層不同 */
	top: -1px;
	left: 100%;
	z-index: 999;
}
ul.drop-down-menu ul { /* 平常隱藏次選單 */
	display: none;
}
ul.drop-down-menu li:hover > ul { /* 滑鼠滑入展開次選單 */
	display: block;
}